/* purgecss start ignore */

@tailwind base;
@tailwind components;

html {
  font-family: "Rubik", sans-serif;
}
body {
  @apply bg-white-300;

}
p {
  @apply text-black-500;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */


/*Search Bar Styles*/
.searchbar {
  @apply flex items-center justify-start  w-full relative max-w-3xl mt-8 bg-white-500 p-3;
}

/*stepper*/
.step-item{
  @apply relative flex  justify-center items-center w-44;
}

.step-item:not(:first-child):before{
  @apply content-[''] bg-gray-500 absolute w-full h-[3px] right-3/4 top-2/4 -translate-y-2/4 ;
}

.step{
  @apply w-8 h-8 flex items-center justify-center z-10 relative bg-blue-500 rounded-full font-semibold text-white-500;
}

.active .step{
  @apply  bg-orange-500
}

.complete .step{
  @apply  bg-green-500;
}

.complete p{
  @apply text-blue-500;
}

.complete:not(:first-child):before, .active:not(:first-child):before{
  @apply bg-green-500;
}

.slide{
  @apply flex justify-center w-full;
}

.slide .content{
  @apply  absolute top-2/3 left-20 border-2 border-blue-500 w-fit p-4  animate-pulse;
}


.submenu{
  @apply absolute bg-gray-100 w-1/6 top-2/3 right-20 border border-gray-500 hidden;
}

.submenu li{
  @apply p-4 border-b border-gray-400 hover:text-blue-500 hover:bg-white-500;
}

.nav-menu{
  @apply col-start-10 col-end-12 flex justify-end items-center;
}

.nav-menu ul:hover > .submenu{
  @apply block;
}

/* .nav-menu li:hover > .submenu{
  display: block;
  animation: slideup .3s ease;
} */